* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: coiny;
  src: url(/font/Coiny-Regular.ttf);
}

@font-face {
  font-family: Sono;
  src: url(/font/Sono-Regular.ttf);
}
@font-face {
  font-family: sono-semi-bold;

  src: url(/font/Sono-SemiBold.ttf);
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", Arial, Helvetica, sans-serif;
  padding: 48px 64px;
}

.hidden {
  display: none !important;
}

/* Main Layout */

header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 40px;
}

.fact-form {
  background-color: #44403c;
  padding: 16px 32px;
  margin-bottom: 40px;
  border-radius: 16px;

  display: flex;
  align-items: center;

  gap: 16px;
}

/* Layout */

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", monospace, sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  border-radius: 16px;
}

.source:link,
.source:visited {
  color: #a8a29e;
  margin-left: 12px;
}

.source:hover,
.source:active {
  color: #3b82f6;
  margin-left: 12px;
  transition: 0.3s;
}

.catagory {
  margin-bottom: 16px;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  font-size: 17px;
  text-transform: uppercase;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-catagories {
  width: 100%;
  margin-bottom: 16px;
}

.btn-catagories {
  width: 100%;
  background-image: none;
}

.tag {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Coiny", monospace, sans-serif;
  padding-top: 3px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 100px;
}

ul {
  list-style: none;
}

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;

  display: flex;
  gap: 8px;
}

.vote-buttons button {
  border: none;
  background-color: #78716c;
  border-radius: 100px;
  padding: 6px 12px;
  font-family: sono-semi-bold, sans-serif;
  color: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.vote-buttons button:hover {
  background-color: #292524;
}

.fact-form input,
.fact-form select {
  border: none;
  width: 220px;
  border-radius: 100px;
  font-family: sono-semi-bold, sans-serif;
  padding: 16px;
  color: inherit;
  font-size: 18px;
  background-color: #78716c;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
  }
}
@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}
